{% extends "CartoLivreOrBundle:Layouts:layout.html.twig" %}
{% block body %}

<h1>{{"ajouter un objet" | trans}}</h1>
<div class="livre">
<table>
{% for obj in objets %}
			<tr><td class="auteur">{{ obj.titre }}</td></tr>
			<tr class="comment"><td>{{ obj.description }}</td></tr>
			{% if is_granted('ROLE_ADMIN') %}
			<tr class="supprimer"><td><a name="supprimer" href="{{ path('carto_donnees_admin_humour_objets_supprimer',{'id':obj.id}) }}">Supprimer</a></td></tr>
			{% endif %}
		<tr class="separation"><td> </td></tr>
{% endfor %}
</table>
</div>

<div class="form">
	<form method="post" action="{{ path('carto_donnees_admin_humour_objets') }}">
		<table>
			<tr>
				<td>{{ form_label(form.titre, "titre"|trans) }}</td>
				<td>{{ form_errors(form.titre) }}</td>
				<td>{{ form_widget(form.titre) }}</td>
			</tr>
			<tr>
				<td>{{ form_label(form.description, "description"|trans) }}</td>
				<td>{{ form_errors(form.description) }}</td>
				<td>{{ form_widget(form.description) }}</td>
			</tr>
		{{ form_rest(form) }}
		</table>
		<input type="submit" id="submit" value="{{ 'submit'|trans }}"/>
	</form>
</div>
{% endblock %}
