{% extends "CartoLivreOrBundle:Layouts:layout.html.twig" %}
{% block body %}

<h1>{{"éditer un objet" | trans}}</h1>
<div class="livre">

</div>

<div class="form">
	<form method="post" action="{{ path('carto_donnees_admin_humour_objets_editer', { 'id':obj.id }) }}">
		<table>
			<tr>
				<td>{{ form_label(form.titre, "titre"|trans) }}</td>
				<td>{{ form_errors(form.titre) }}</td>
				<td>{{ form_widget(form.titre) }}</td>
			</tr>
			<tr>
				<td>{{ form_label(form.type, "type"|trans) }}</td>
				<td>{{ form_errors(form.type) }}</td>
				<td>{{ form_widget(form.type) }}</td>
			</tr>
			<tr>
				<td>{{ form_label(form.image, "image"|trans) }}</td>
				<td>{{ form_errors(form.image) }}</td>
				<td>{{ form_widget(form.image) }}</td>
			</tr>
			<tr>
				<td>{{ form_label(form.description, "description"|trans) }}</td>
				<td>{{ form_errors(form.description) }}</td>
				<td>{{ form_widget(form.description) }}</td>
			</tr>
		{{ form_rest(form) }}
		</table>
		<input type="submit" id="submit" value="{{ 'submit'|trans }}"/>
	</form>
</div>
{% endblock %}
