{% extends "CartoLivreOrBundle:Layouts:layout.html.twig" %}
{% block body %}

<h1>{{"éditer un objet" | trans}}</h1>

<div class="livre">
<table>
	{% for obj in objets %}
			<tr><td class="auteur">{{ obj.titre }}, type : {{ obj.type }}</td></tr>
			<tr class="comment"><td>{{ obj.description }}</td></tr>
			<tr class="comment"><td>
				{% if (obj.image != '') %}
					<img src="{{ asset('bundles/CartoDonneesBundle/images/humour/' ~ obj.image ) }}" width="30px"></img>
				{% endif %}
			</td></tr>
			{% if is_granted('ROLE_ADMIN') %}
			<tr class="supprimer"><td><a name="supprimer" href="{{ path('carto_donnees_admin_humour_objets_supprimer',{'id':obj.id}) }}">Supprimer</a></td></tr>
			<tr class="editer"><td><a name="editer" href="{{ path('carto_donnees_admin_humour_objets_editer',{'id':obj.id}) }}">Editer</a></td></tr>
			{% endif %}
			<tr class="separation"><td> </td></tr>
	{% endfor %}
</table>
</div>

<div class="form">
	<form method="post" action="{{ path('carto_donnees_admin_humour_objets') }}">
		<table>
			<tr>
				<td>{{ form_label(form.titre, "titre"|trans) }}</td>
				<td>{{ form_errors(form.titre) }}</td>
				<td>{{ form_widget(form.titre) }}</td>
			</tr>
			<tr>
				<td>{{ form_label(form.type, "type"|trans) }}</td>
				<td>{{ form_errors(form.type) }}</td>
				<td>{{ form_widget(form.type) }}</td>
			</tr>
			<tr>
				<td>{{ form_label(form.image, "image"|trans) }}</td>
				<td>{{ form_errors(form.image) }}</td>
				<td>{{ form_widget(form.image) }}</td>
			</tr>
			<tr>
				<td>{{ form_label(form.description, "description"|trans) }}</td>
				<td>{{ form_errors(form.description) }}</td>
				<td>{{ form_widget(form.description) }}</td>
			</tr>
		{{ form_rest(form) }}
		</table>
		<input type="submit" id="submit" value="{{ 'submit'|trans }}"/>
	</form>
	<p>Pour l'image : vous devez indiquer le nom de l'image, et par ailleurs enregistrer l'image sous le nom indiqué dans le répertoire web/bundles/donnnes/images/humour/ Ca ne fonctionnera pas tout de suite (il faudra d'abord que vous pushiez et que je pull depuis le serveur). Je règlerai le problème demain.</p>
</div>
{% endblock %}
