{% extends "::base.html.twig" %}

{% block stylesheets %}{{ parent() }}
{% stylesheets 'bundles/CartoDocumentationBundle/css/menuwn.css' %}
	<link href="{{ asset_url }}" type="text/css" rel="stylesheet" />
{% endstylesheets %}
{% endblock %}

{% block utilsLeft %}
	<nav class="menugauche">
		<ul class="nav">
			<li><a href="{{ path('carto_documentation_etudewn') }}">Introduction</a></li><br/>
			<li><a href="{{ path('carto_documentation_etudewn_words') }}">{{ "Relations entre les" | trans}} {{ "mots" | trans }}</a></li><br/>
			<li><a href="{{ path('carto_documentation_etudewn_nsynsets') }}">{{ "Relations entre les" | trans}} nsynsets</a></li><br/>
			<li><a href="{{ path('carto_documentation_etudewn_vsynsets') }}">{{ "Relations entre les" | trans}} vsynsets</a></li><br/>
			<li><a href="{{ path('carto_documentation_etudewn_asynsets') }}">{{ "Relations entre les" | trans}} asynsets</a></li><br/>
			<li><a href="{{ path('carto_documentation_etudewn_rsynsets') }}">{{ "Relations entre les" | trans}} rsynsets</a></li><br/>
			<li><a href="{{ path('carto_documentation_etudewn_conclusion') }}">{{ "Conclusion" | trans}}</a></li><br/>
		</ul>
	</nav>
{% endblock %}

{% block body %}

<div class="contenu">
{% block contenu %}

{% endblock %}
</div>

{% endblock %}
