{% extends "::base.html.twig" %}

{% block stylesheets %}{{ parent() }}
{% stylesheets 'bundles/CartoDocumentationBundle/css/menuwn.css' %}
	<link href="{{ asset_url }}" type="text/css" rel="stylesheet" />
{% endstylesheets %}
{% endblock %}

{% block body %}
<nav class="menugauche">
	<ul class="nav">
		<li><a href="{{ path('carto_documentation_etudewn') }}">Introduction</a></li><br/>
		<li><a href="{{ path('carto_documentation_etudewn_words') }}">{{ "Relations entre les mots" | trans}}</a></li><br/>
		<li><a href="{{ path('carto_documentation_etudewn_nsynsets') }}">{{ "Relations entre les nsynsets" | trans}}</a></li><br/>
		<li><a href="{{ path('carto_documentation_etudewn_vsynsets') }}">{{ "Relations entre les vsynsets" | trans}}</a></li><br/>
		<li><a href="{{ path('carto_documentation_etudewn_asynsets') }}">{{ "Relations entre les asynsets" | trans}}</a></li><br/>
		<li><a href="{{ path('carto_documentation_etudewn_rsynsets') }}">{{ "Relations entre les rsynsets" | trans}}</a></li><br/>
		<li><a href="{{ path('carto_documentation_etudewn_conclusion') }}">{{ "Conclusion" | trans}}</a></li><br/>
	</ul>
</nav>
<div class="contenu">
{% block contenu %}

{% endblock %}
</div>

{% endblock %}
