<!DOCTYPE html>
<html>
	
	<head>
		<meta charset="UTF-8" />
		<title>{% block title %}{{ "Bienvenue" | trans }}{% endblock %}</title>
		
		{% block stylesheets %}
			{% stylesheets 'bundles/CartoAccueilBundle/css/*' %}
				<link href="{{ asset_url }}" type="text/css" rel="stylesheet" />
			{% endstylesheets %}
		{% endblock %}
		
		<link rel="icon" type="image/png" href="{{ asset('bundles/CartoAccueilBundle/images/logo.png') }}" />
		
		{% block javascripts %}{% endblock %}
	</head>
	<body>
		{% block menuSuperieur %}
			<table class="tableHeader">
				<tr>
					<td class="header">&nbsp;</td>
					<td class="headerCenter" style="width: 1000px;">
						<div class="language_selector">
							<a href="{{ path('carto_accueil_homepage_switch_language', {'lang' : 'en'}) }}" 
								{% if app.request.locale == 'en' %}class="selected"{% endif %}>
								<img src="{{ asset('bundles/CartoAccueilBundle/images/en.png') }}" title="English" alt="English">
							</a>
							<a href="{{ path('carto_accueil_homepage_switch_language', {'lang' : 'fr'}) }}" 
								{% if app.request.locale == 'fr' %}class="selected"{% endif %}>
								<img src="{{ asset('bundles/CartoAccueilBundle/images/fr.png') }}" title="Fran&ccedil;ais" alt="Fran&ccedil;ais">
							</a>
						</div>
						{% if app.user %}
						<h3 class="text_login">{{'Bienvenue' | trans}}, {{ app.user.username }} !</h3>
						<div class="login">
							<a href="{{ path('carto_donnees_admin_logout') }}">{{"Déconnexion" | trans}}</a>
						</div>
						{% else %}
						<div class="login">
							<a href="{{ path('carto_donnees_admin_dashboard')}}">
								<img src="{{ asset('bundles/CartoAccueilBundle/images/icone_cadenas.png') }}" title="Cadenas" alt="Cadenas">
							</a>
						</div>
						{% endif %}
						<div>
							<img class="logo" src="{{ asset('bundles/CartoAccueilBundle/images/logo.png')}}" title="Cartographie de données" alt="Cartographie de données">
							<nav>
								<ul class="nav">
									{# Quand on clique sur un <li> on attribue une class current pour le laisser en couleur #}
									<li id="home" {% if path(app.request.attributes.get('_route')) == "/" ~ app.request.locale or path(app.request.attributes.get('_route')) == "/" %}class="current"{% endif %}>
												<a href="{{ path('carto_accueil_homepage') }}" --class="homeIcon"-->{{"Accueil"|trans}}</a>
									</li>
									<li id="documentation" {% if "documentation" in path(app.request.attributes.get('_route')) %}class="current"{% endif %}>
										<a href="{{ path('carto_documentation_homepage') }}">{{"Documentation" | trans}}</a>
										<ul>
											<li><a href="{{ path('carto_documentation_projet') }}">{{"Le projet"|trans}}</a></li>
											<li><a href="{{ path('carto_documentation_etudewn') }}">WordNet</a></li>
											<li><a href="{{ path('carto_documentation_etudedbpedia') }}">DbPedia</a></li>
											<li><a href="{{ path('carto_documentation_representation') }}">{{"Représentations"|trans}}</a></li>
										</ul>
									</li>
									<li id="representations" {% if "representations" in path(app.request.attributes.get('_route')) %}class="current"{% endif %}>
										<a href="{{ path('carto_representations_homepage') }}">{{"Représentations"|trans}}</a>
										<ul>
											<li>
												<a href="{{ path('carto_representations_representation1') }}" >{{"Radial Tree" | trans}}</a>
												
											</li>
											<li>
												<a href="{{ path('carto_representations_representation2') }}">{{"Indented Tree" | trans}}</a>
												
											</li>
											<li>
												<a href="{{ path('carto_representations_representation3') }}">{{"Force Directed Graph" | trans}}</a>
					
											</li>
											<li>
												<a href="{{ path('carto_representations_representation4') }}">{{"Bubble Tree" | trans}}</a>
											</li>
											<li>
												<a href="{{ path('carto_representations_representation6') }}">{{"Dependency Wheel" | trans}}</a>
											</li>
										</ul>
									</li>
									<li id="donnees" {% if "donnees" in path(app.request.attributes.get('_route')) %}class="current"{% endif %} >
										<a href="{{ path('carto_donnees_simple') }}">{{"Données" | trans}}</a>
										<ul>
											<li>
												<a href="{{ path('carto_donnees_simple') }}">{{"Recherche simple" | trans}}</a>
											</li>
											{% if app.user %}
											<li>
												<a href="{{ path('carto_donnees_admin_enregistre') }}">{{"Enregistrer les données" | trans}}</a>
											</li>
											{% endif %}
											<li>
												<a href="{{ path('carto_donnees_json') }}">{{"Générer json" | trans}}</a>
											</li>
											<li>
												<a href="{{ path('carto_donnees_dbpedia_json') }}">{{"Générer dbPedia json" | trans}}</a>
											</li>
										</ul>
									</li>
									<li id="about" {% if "about" in path(app.request.attributes.get('_route')) %}class="current"{% endif %} >
										<a href="{{ path('carto_accueil_aboutus') }}">{{"A propos" | trans}}</a>
									</li>
									<li id="contact" {% if "livre-d-or" in path(app.request.attributes.get('_route')) %}class="current"{% endif %} >
										<a href="{{ path('carto_livre_or_homepage') }}">{{"livre" | trans}}</a>
										<ul>
											<li>
												<a href="{{ path('carto_livre_or_admin') }}">{{"Gérer" | trans}}</a>
											</li>
										</ul>
									</li>
								</ul>
							</nav>
						</div>
					</td>
					<td class="header">&nbsp;</td>
				</tr>
			</table>
		{% endblock %}
		<table class="tableContent" id="LaTableComplete">
			<tr>  
				<!--<td>
					&nbsp;
				</td>-->
				<td class="contentLeft">
					{% block utilsLeft %}
						<img class="borderLeft" src="{{ asset('bundles/CartoAccueilBundle/images/left.png') }}"></img>
					{% endblock %}
				</td>
				<td id="contentCenter">
					{% block body %}
					{% endblock %}
				</td>
				<td class="toolsRight">
					{% block tools %}
					{% endblock %}
				</td>
				<!--<td>
					&nbsp;
				</td>-->
			</tr>
		</table>
		<script>
			{% block script %}{% endblock %}
		</script>
		
	</body>
</html>
