{% extends "::base.html.twig" %}

{% block stylesheets %}{{ parent() }}
{% stylesheets 'bundles/CartoRepresentationsBundle/css/style.css' 'bundles/CartoRepresentationsBundle/css/fullscreen.css' 'bundles/CartoRepresentationsBundle/css/utils.css' 'bundles/CartoRepresentationsBundle/css/jquery.tipsy.css' %}
	<link href="{{ asset_url }}" type="text/css" rel="stylesheet" />
{% endstylesheets %}

{% endblock %}

{% block javascripts %}{{ parent() }}
{% javascripts 'bundles/CartoRepresentationsBundle/js/global/*' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}
{% javascripts 'bundles/CartoRepresentationsBundle/js/global/ux/*' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}
{% endblock %}

{% block menuSuperieur %}{{ parent() }}
{% endblock %}

{% block body %}{{ parent() }}
<h1>Aide :</h1><br/>
<img style="border:solid 1px grey;"src="{{ asset('bundles/CartoRepresentationsBundle/images/ManuelUtilisateur.png') }}"></img>
{% endblock %}

{% block script %}
	//Url permettant de faire la recherche demandée
	//var url = "http://localhost/bundles/CartoRepresentationsBundle/action/main_action.php"; // remy
	var url = "http://carto.localhost/bundles/CartoRepresentationsBundle/action/main_action.php"; // Celine
	//var url = "http://127.0.0.1/bundles/CartoRepresentationsBundle/action/main_action.php"; // remi
	//var url = "http://localhost/CartoSavoie/carto/web/bundles/CartoRepresentationsBundle/action/main_action.php"; // Juliana
	//var url = "http://localhost/Projet%20-%20Visualisation%20de%20donnees/carto/web/bundles/CartoRepresentationsBundle/action/main_action.php"; //Anthony
	//var url = "http://carto.dev/bundles/CartoRepresentationsBundle/action/main_action.php"; //Anthony2
	
	// Montre les options suivant la source de donnees selectionnee
	function loadOptions(){
		//Récupération de la source de données
		var wordnet = $('#WN').attr('checked'); 
		var dbpedia = $('#DB').attr('checked'); 
		//Url permettant de faire la recherche demandpend de la source)
		if (wordnet){
			$('.showOptionsNbVoisins').hide();
			$('.showOptionsProfondeur').show();
			$('.showOptionsRelations').show();
		}
		else if (dbpedia){
			$('.showOptionsRelations').hide();
			$('.showOptionsProfondeur').hide();
			$('.showOptionsNbVoisins').show();
		}
		else{
			$('.showOptionsRelations').hide();
			$('.showOptionsProfondeur').hide();
			$('.showOptionsNbVoisins').hide();
		}
	}

	// Montre toutes les relations possibles
	function showRelations(){		
		$.ajax({
			type: "POST",
			url: url,
			data: {
					cmd: 'get_relations'
			},
			cache: false,
			success: function(response) {
				var result = $.parseJSON(response);
				if(result.success){
					var data = result.data;
					$('.showOptionsRelations').append('<legend>Choisissez vos relations:</legend>');
					for (var d in data){
						$('.showOptionsRelations').append('<div><input type="checkbox" name="options" value="' + data[d] + '"/>' + data[d] + '</div>');
					}
				}
			}
		});
	}
	
	// Propose une profondeur a selectionner
	function showProfondeur(){
		$('.showOptionsProfondeur').append('<legend>Choisissez votre profondeur:</legend>');
		$('.showOptionsProfondeur').append('<div><input type="number" name="nombre" id="quantite">');
	}
	
	// Propose un nombre de voisins a selectionner
	function showNbVoisins(){
		$('.showOptionsNbVoisins').append('<legend>Choisissez le nombre de voisins:</legend>');
		$('.showOptionsNbVoisins').append('<div><input type="number" name="nombre" id="quantite">');
	}
	
	// Montrer les options de WN
	function showOptionsWN(){
		showProfondeur();
		showRelations();
	}
	
	// Montre les options de DBPedia
	function showOptionsDBpedia(){
		showNbVoisins();
	}

	// Lorsque la page est prete
	$(document).ready(function(){
		//Récupération de la source de données
		var wordnet = $('#WN').attr('checked'); 
		var dbpedia = $('#DB').attr('checked');
		var autre = $('#Autres').attr('checked');
		
		showOptionsWN();
		showOptionsDBpedia();
		
		// On montre les options suivant la source de donnees selectionnee
		loadOptions();
		
		$("#form_recherche").submit(function(){
			// On va montrer des informations wikipedia pour le mot recherche par l'utilisateur
			d3_utils = new D3_Utils();
			
			// On recupere les relations selectionnees par l'utilisateur pour le filtre
			var valeurs = [];
			$('input:checked[name = options]').each(function() {
				valeurs.push($(this).val());
			});
			
			var profondeur = $("#quantite").val();
			
			var search = $('#search').val(); //Récupération du mot demandé
			if ( search == '' ) { alert('Vous devez entrer un mot'); search = 'pasderecherche' }

			//Récupération de la source de données demandée
			var wordnet = $('#WN').attr('checked'); 
			var dbpedia = $('#DB').attr('checked');
			var autre = $('#Autres').attr('checked');
			var cmdAction = "";	
			if (wordnet)
			{
				cmdAction = "search_action";
			}
			else if (dbpedia)
			{
				cmdAction = "search_dbpeadia";
			}
			else if (autre)
			{
				cmdAction = "search_autre";
			}

			//Utilisation d'ajax pour placer le résultat dans le conteneur
			$("#contentCenter").html('<img id="loading" src="{{ asset('bundles/CartoRepresentationsBundle/images/ajax-loader.gif') }}">');
			$.ajax({
				type: "POST",
				url: url,
				data: {
					cmd: cmdAction,
					search: search,
					options: valeurs,
					profondeur: profondeur
				},
				cache: false,
				success: function(response) {
					var result = $.parseJSON(response);
					if(result.success){
						var data = result.data;
						if(representation){
							$('svg').remove();
							$('.relation').remove();
							$('.dragAndDrop').css("background-color", "#d0cbcb");
							$('.dragAndDrop').attr("value", "0");
						}
						if(data.error != null){
							alert("Error " + data.error);
						}else{
							representation.show(data);
							d3_utils.show_wikipedia(search);
							$("#loading").hide();
						}
					}else{
						alert("Request Error");
					}
				}
			});
			return false;
		});
	});
{% endblock %}

{# On affiche la partie à gauche, permettant de lancer une recherche, voir les articles wikipedia, colorier les relations #}
{% block utilsLeft %}
	<div class="utilsLeft">
	
		{# Sélectionner la source de données (Wordnet ou Dbpedia) #}
		<div class="toggle-btn-grp joint-toggle">
			<label for="WN" class="toggle-btn">
				<input id="WN" type="radio" name="choixsource" value="WN" onclick="loadOptions()" checked/>Wordnet
			</label>
			<label for="DB" class="toggle-btn">
				<input id="DB" type="radio" name="choixsource" value="DB" onclick="loadOptions()"/>DbPedia
			</label>
			<label for="Autres" class="toggle-btn">
				<input id="Autres" type="radio" name="choixsource" value="Autres" onclick="loadOptions()"/>Autres
			</label>
		</div>
		
		{# Montrer les options #}
		<form id="form_options" action="" method="post">
			<details>
				<summary>Options</summary>
				<p class="showOptionsProfondeur"></p>
				<p class="showOptionsNbVoisins"></p>
				<p class="showOptionsRelations"></p>
			</details>
		</form>
		
		<form id="form_recherche" action="" method="post">
			{# Entrer un mot à chercher #}
			<div id="recherche">
				<div id="search_keywords">
						<p>
							<input id="search" type="text" name="search" value="" />
							<button class="buttonSearch" type="submit">Ok</button>
						</p>
				</div>
			</div>
		</form>
			
		{# Sélectionner une relation pour la mettre en couleur #}
		<div id="relations">
			<p>Selectionnez une relation:</p>
			<label>
				<select class="selectRelation" multiple size="3">
					<option selected> None... </option>
				</select>
			</label>
		</div>
		{# Afficher article wikipedia #}
		<div id="wikipedia">
			<p>Click on any words to show its Wikipedia article.</p>
		</div>
	</div>
{% endblock %}


{# On affiche les boutons pour interagir avec la vue : zoomer, dézoomer etc. #}
{% block tools %}
	<div class="tool-container">
		<div class="tool-items">
			<a class="tool-item gradient zoom" id="zoom_in" title="Zoom in">
				<i class="icon-zoom-in"></i>
			</a>
			<a class="tool-item gradient zoom" id="zoom_out" title="Zoom out">
				<i class="icon-zoom-out"></i>
			</a>
			<a class="tool-item gradient zoom" id="intial_scale" title="Initial zoom">
				<i class="icon-close"></i>
			</a>
			<a class="tool-item gradient dragAndDrop" id="drag_and_drop" title="Drag and Drop" value="0">
				<i class="icon-drag-and-drop"></i>
			</a>
			<a class="tool-item gradient rotate" id="rotate" title="Rotate" value="0">
				<i class="icon-rotate"></i>
			</a>
			<a class="tool-item gradient fullscreen" id="full_screen" title="Full screen" onClick="fullscreenClick();">
				<i class="icon-full-screen"></i>
			</a>
			<a class="tool-item gradient print" id="print" title="Print" onClick="PrintElem('#contentCenter');">
				<i class="icon-print"></i>
			</a>
		</div>
	</div>
{% endblock %}
