{% extends "::base.html.twig" %}

{% block stylesheets %}{{ parent() }}
{% stylesheets 'bundles/CartoRepresentationsBundle/css/style.css' %}
	<link href="{{ asset_url }}" type="text/css" rel="stylesheet" />
{% endstylesheets %}

{% stylesheets 'bundles/CartoRepresentationsBundle/css/fullscreen.css' %}
	<link href="{{ asset_url }}" type="text/css" rel="stylesheet" />
{% endstylesheets %}
{% endblock %}

{% block javascripts %}{{ parent() }}
{% javascripts 'bundles/CartoRepresentationsBundle/js/global/*' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}
{% endblock %}

{% block menuSuperieur %}{{ parent() }}
{% endblock %}

{% block body %}{{ parent() }}
<h1>Aide :</h1><br/>
<img style="border:solid 1px grey;"src="{{ asset('bundles/CartoRepresentationsBundle/images/ManuelUtilisateur.png') }}"></img>
{% endblock %}

{% block script %}

	// Pour mettre les checkbox caches ou non
	$('.showOptions').hide();
	$('.click').click(function () {
		if ($('.showOptions').is(':hidden')) {
			$('.imgOptions').attr("src", "{{ asset('bundles/CartoRepresentationsBundle/images/optionsQuit.png') }}");
			$('.showOptions').show();
		} else {
			$('.imgOptions').attr("src", "{{ asset('bundles/CartoRepresentationsBundle/images/optionsValidate.png') }}");
			$('.showOptions').hide();
		}
	});
	
	function filterRelations(relation){
		var d3_utils = new D3_Utils();
		d3_utils.filter();
	}
	
	function loadOptions(){
		var wordnet = $('#WN').attr('checked'); //Rration de la source de donne
		//Url permettant de faire la recherche demandpend de la source)
		if (wordnet){
			showOptionsWN();
		}
		else{
			$('.imgOptions').attr("src", "{{ asset('bundles/CartoRepresentationsBundle/images/optionsValidate.png') }}");
			$('.showOptions').empty();
		}
	}
	
	function showOptionsWN(){
		//var url = "http://localhost/bundles/CartoRepresentationsBundle/action/main_action_options.php"; // remy
		var url = "http://carto.localhost/bundles/CartoRepresentationsBundle/action/main_action_options.php"; // Celine
		//var url = "http://127.0.0.1/bundles/CartoRepresentationsBundle/action/main_action_options.php"; // remi
		//var url = "http://localhost/CartoSavoie/carto/web/bundles/CartoRepresentationsBundle/action/main_action_options.php"; // Juliana
		//var url = "http://localhost/Projet%20-%20Visualisation%20de%20donnees/carto/web/bundles/CartoRepresentationsBundle/action/main_action_options.php"; //Anthony
		//var url = "http://carto.dev/bundles/CartoRepresentationsBundle/action/main_action_options.php"; //Anthony2
		
		$.ajax({
			type: "POST",
			url: url,
			cache: false,
			success: function(response) {
				var result = $.parseJSON(response);
				if(result.success){
					var data = result.data;
					for (var d in data){
						$('.showOptions').append('<div><input type="checkbox" name="options" value="' + data[d] + '" onclick="filterRelations(this)"/>' + data[d] + '</div>');
					}
				}
			}
		});
	}

	$(document).ready(function(){
		var wordnet = $('#WN').attr('checked'); //Rration de la source de donne
		//Url permettant de faire la recherche demandpend de la source)
		if (wordnet){
			showOptionsWN();
		}
		
		$("#form_recherche").submit(function(){
			// On recupere les relations selectionnees par l'utilisateur pour le filtre
			var valeurs = [];
			$('input:checked[name = options]').each(function() {
				valeurs.push($(this).val());
			});
			
			var search = $('#search').val(); //Récupération du mot demandé
			var wordnet = $('#WN').attr('checked'); //Récupération de la source de données demandée
			//Url permettant de faire la recherche demandée
			if (wordnet)
			{
				//var url = "http://localhost/bundles/CartoRepresentationsBundle/action/main_action.php"; // remy
				var url = "http://carto.localhost/bundles/CartoRepresentationsBundle/action/main_action.php"; // Celine
				//var url = "http://127.0.0.1/bundles/CartoRepresentationsBundle/action/main_action.php"; // remi
				//var url = "http://localhost/CartoSavoie/carto/web/bundles/CartoRepresentationsBundle/action/main_action.php"; // Juliana
				//var url = "http://localhost/Projet%20-%20Visualisation%20de%20donnees/carto/web/bundles/CartoRepresentationsBundle/action/main_action.php"; //Anthony
				//var url = "http://carto.dev/bundles/CartoRepresentationsBundle/action/main_action.php"; //Anthony2
			}
			else
			{
				//var url = "http://localhost/bundles/CartoRepresentationsBundle/action/main_action_dbpedia.php"; // remy
				var url = "http://carto.localhost/bundles/CartoRepresentationsBundle/action/main_action_dbpedia.php"; // Celine
				//var url = "http://127.0.0.1/bundles/CartoRepresentationsBundle/action/main_action.php"; // remi
				//var url = "http://localhost/CartoSavoie/carto/web/bundles/CartoRepresentationsBundle/action/main_action_dbpedia.php"; // Juliana
				//var url = "http://localhost/Projet%20-%20Visualisation%20de%20donnees/carto/web/bundles/CartoRepresentationsBundle/action/main_action_dbpedia.php"; //Anthony
				//var url = "http://carto.dev/bundles/CartoRepresentationsBundle/action/main_action_dbpedia.php"; //Anthony2
			}

			//Utilisation d'ajax pour placer le résultat dans le conteneur
			$("#contentCenter").html('<img id="loading" src="{{ asset('bundles/CartoRepresentationsBundle/images/ajax-loader.gif') }}">');
			$.ajax({
				type: "POST",
				url: url,
				data: {
					cmd: 'search_action',
					search: search,
					options: valeurs
				},
				cache: false,
				success: function(response) {
					var result = $.parseJSON(response);
					if(result.success){
						var data = result.data;
						if(representation){
							$('svg').remove();
							$('.relation').remove();
							$('.dragAndDrop').css("background-color", "#d0cbcb");
							$('.dragAndDrop').attr("value", "0");
						}
						representation.show(data);
						$("#loading").hide();
					}
				}
			});
			return false;
		});
	});
{% endblock %}

{# On affiche la partie à gauche, permettant de lancer une recherche, voir les articles wikipedia, colorier les relations #}
{% block utilsLeft %}
	<div class="utilsLeft">
	
		{# Sélectionner la source de données (Wordnet ou Dbpedia) #}
		<div class="toggle-btn-grp joint-toggle">
			<label for="WN" class="toggle-btn">
				<input id="WN" type="radio" name="choixsource" value="WN" onclick="loadOptions()" checked/>Wordnet
			</label>
			<label for="DB" class="toggle-btn">
				<input id="DB" type="radio" name="choixsource" value="DB" onclick="loadOptions()"/>DpPedia
			</label>
		</div>
		
		{# Montrer les options #}
		<div class="options">
			<span>Options</span>
			<img class="click imgOptions" src="{{ asset('bundles/CartoRepresentationsBundle/images/optionsValidate.png') }}">
		</div>
		<form id="form_options" action="" method="post" class="showOptions"></form>
		
		<form id="form_recherche" action="" method="post">
			{# Entrer un mot à chercher #}
			<div id="recherche">
				<div id="search_keywords">
						<p>
							<input id="search" type="text" name="search" />
							<button class="buttonSearch" type="submit">Ok</button>
						</p>
				</div>
			</div>
		</form>
			
		{# Sélectionner une relation pour la mettre en couleur #}
		<div id="relations">
			<p>Selectionnez une relation:</p>
			<label>
				<select class="selectRelation">
					<option selected> None... </option>
				</select>
			</label>
		</div>
		{# Afficher article wikipedia #}
		<div id="wikipedia">
			<p>Click on any words to show its Wikipedia article.</p>
		</div>
	</div>
{% endblock %}


{# On affiche les boutons pour interagir avec la vue : zoomer, dézoomer etc. #}
{% block tools %}
	<div class="tool-container">
		<div class="tool-items">
			<a class="tool-item gradient zoom" id="zoom_in" title="Zoom in">
				<i class="icon-zoom-in"></i>
			</a>
			<a class="tool-item gradient zoom" id="zoom_out" title="Zoom out">
				<i class="icon-zoom-out"></i>
			</a>
			<a class="tool-item gradient zoom" id="intial_scale" title="Initial zoom">
				<i class="icon-close"></i>
			</a>
			<a class="tool-item gradient dragAndDrop" id="drag_and_drop" title="Drag and Drop" value="0">
				<i class="icon-drag-and-drop"></i>
			</a>
			<a class="tool-item gradient rotate" id="rotate" title="rotate" value="0">
				<i class="icon-rotate"></i>
			</a>
			<a class="tool-item gradient fullscreen" id="full_screen" onClick="fullscreenClick();">
				<i class="icon-full-screen"></i>
			</a>
			<a href="#" class="tool-item gradient">
				<i class="icon-print"></i>
			</a>
		</div>
	</div>
{% endblock %}
