{% extends "CartoDocumentationBundle:Layouts:layoutWN.html.twig" %}
{% block contenu %}
<h1>{{ "Documentation" | trans }}</h1>
<h2>WordNet</h2>

<h3>{{ "Relations entre les asynsets" | trans }}</h3>
<ul>
	<li>Antonymie (ManyToMany, {{ "inversé par" | trans }} Antonymie).</li>
	<li>Similar (ManyToMany, {{ "inversé par" | trans }} Similar.</li>
</ul>

<img src="{{ asset('bundles/CartoDocumentationBundle/images/DC5.png') }}" width="48%"/>
<img src="{{ asset('bundles/CartoDocumentationBundle/images/DO5.png') }}" width="48%"/>

<h3>{{ "Les fichiers de la base de données WordNet" | trans }}</h3>

<p>
{% trans %}
Nous utiliserons le fichier data.adj, que nous modifierons pour correspondre à nos besoins.
{% endtrans %}
</p>
<p>
{% trans %}
Voici quelques exemples de lignes du fichier data.adj
{% endtrans %} :
<pre>
00003131 00 a 03 adducent 0 adductive 0 adducting 0 003 ;c 06090110 n 0000 + 01451829 v 0201 ! 00002956 a 0101 | especially of muscles; bringing together or drawing toward the midline of the body or toward an adjacent part  

00003356 00 a 01 nascent 0 005 + 07334902 n 0103 ! 00003938 a 0101 & 00003552 a 0000 & 00003699 a 0000 & 00003828 a 0000 | being born or beginning; "the nascent chicks"; "a nascent insurgency"   

00003552 00 s 02 emergent 0 emerging 0 003 & 00003356 a 0000 + 02631097 v 0102 + 00051513 n 0101 | coming into existence; "an emergent republic"  

00003699 00 s 01 dissilient 0 002 & 00003356 a 0000 + 07449382 n 0101 | bursting open with force, as do some ripe seed vessels  
</pre>
</p>
<p>
{{ "Voici tous les symboles que nous pouvons trouver dans ce fichier" | trans }}
<ul>
<li>!    Antonym : {{ "Antonymie" | trans }}</li><li>
&    Similar to : {{ "Similar" | trans }}</li><li>
&lt;    Participle of verb  : {{ "déjà traité dans le cadre des relations entre les mots" | trans }}</li><li>
\    Pertainym : {{ "déjà traité dans le cadre des relations entre les mots" | trans }}</li><li>
+    Derivationally related form : {{ "déjà traité dans le cadre des relations entre les mots" | trans }}</li><li>
=    Attribute : {{ "déjà traité dans le cadre des relations des nsynsets" | trans }}</li><li>
^    Also see {{ "non traité dans le cadre du projet" | trans }}</li><li>
;c    Domain of synset - TOPIC : {{ "non traité dans le cadre du projet" | trans }}</li><li>
;r    Domain of synset - REGION : {{ "non traité dans le cadre du projet" | trans }}</li><li>
;u    Domain of synset - USAGE : {{ "non traité dans le cadre du projet" | trans }}</li>
</ul>
</p>

<p>{{ "Organisation d'une ligne" | trans }}
<ul>
	<li>{{ "numero du synset (8 chiffres)" | trans }}<pre>00003131</pre></li>
	<li>{{ "numeros à moins de 8 chiffres pour les fichiers lexicographer (on ne les utilisera pas), la lettre a pour adjectif (inutile car dans data.adj c'est toujours a), les mots du synset (nous les enlèverons car la relation un mot appartient à un synset est déjà codée dans index.words)" | trans }}<pre>00 a 03 adducent 0 adductive 0 adducting 0 003 </pre></li>
	<li>{{ "des blocs de type : un symbole, un numero de synset, une lettre pour le type de synset (inutile pour nous car nous savons que ce sont toujours des asynsets) et un numéro à quatre chiffres servant à indiquer si la relation est entre des mots ou entre des synsets (inutile pour nous car nous avons déjà travaillé les relations entre les mots)" | trans }}<pre>;c 06090110 n 0000</pre> {{ "nous laisserons seulement le symbole et le numéro du synset, nous enlèverons tout le bloc pour les relations dont on a déjà traité l'inverse et celles que nous ne souhaitons pas traiter" | trans }}</li>
	<li>{{ "Le symbole | suivi de la définition du synset" | trans }}</li>
</ul>
</p>

<h3>{{ "Transformation du fichier data.adj" | trans }}</h3>
<p>{{ "Voici les quelques lignes données en exemple sous leur forme simplifiée" | trans }} :
<pre>
00003131 ! 00002956 | especially of muscles; bringing together or drawing toward the midline of the body or toward an adjacent part  

00003356 ! 00003938 & 00003552 & 00003699 & 00003828 | being born or beginning; "the nascent chicks"; "a nascent insurgency"   

00003552 & 00003356 | coming into existence; "an emergent republic"  

00003699 & 00003356 | bursting open with force, as do some ripe seed vessels  
</pre>
<p>{{ "Voici le script que nous avons utilisé pour simplifier le fichier data.adj" | trans }}
<pre>public function simplifierdataadjAction()
{
  $reponse = '';
  $data = fopen('../src/Carto/DocumentationBundle/Resources/dict/data.adj','r');
  $symbols = array('&','!');
  
  //On parcourt le fichier data.adj ligne par ligne
  while ($ligne = fgets($data))
  {
    //On met d'abord la définition de côté
    $tab = explode('|',$ligne);
    $def = ' | ' . $tab[1];
    //Puis on sépare chaque élément et lorsqu'on rencontre un symbole qu'on souhaite traiter on l'ajoute
    $tab = explode(' ',$tab[0]);
    foreach($tab as $cle => $valeur)
    {
      if ($cle == 0) { $nouvligne = $valeur . ' '; }
      else if (in_array($valeur,$symbols)) { $nouvligne .= substr($valeur,0,1) . ' ' . $tab[$cle + 1]. ' '; }
    }
    $nouvligne .= $def . '&nbsp;<br/>';
    $reponse .= $nouvligne;
  }

  fclose($data);
  return new Response($reponse);
}</pre>
<a href="{{ path('carto_documentation_etudewn_simplifierdataadj') }}" target="blank">{{ "Voir le résultat du script (peut prendre quelques minutes)" | trans }}</a>
</p>
{% endblock %}
