{% extends "CartoDocumentationBundle:Layouts:layoutWN.html.twig" %}
{% block contenu %}
<h1>{{ "Documentation" | trans }}</h1>
<h2>WordNet</h2>
<h3>
{{ "Voici toutes les relations que nous avons recensées dans WordNet" | trans }} :
</h3>
<ul>
	<li>{{ "Un mot appartient à un Synset" | trans }} (ManyToMany, {{ "inversé par" | trans }} Contains)</li>
</ul>
<ul>
	<li>{{ "Un adjectif ou un verbe dérive d'un nom" | trans }} (ManyToMany).</li>
	<li>{{ "Un adjectif est le participe passé d'un verbe" | trans }} (OneToOne)</li>
	<li>{{ "Un adjectif est le pertainym d'un nom" | trans }} (ManyToMany)</li>
	<li>{{ "Un adverbe est construit à partir d'un adjectif" | trans }} (OneToOne)</li>
</ul>
<ul>
	<li>Antonymie : {{ "Un NSynset est antonyme d'un NSynset" | trans }} (ManyToMany, {{ "inversé par" | trans }} Antonymie).</li>
	<li>Hyponymie : {{ "Un NSynset est hyponyme d'un NSynset" | trans }} (ManyToMany, {{ "inversé par" | trans }} Hypernymie).</li>
	<li>Méronymie : {{ "Un NSynset est méronyme d'un NSynset" | trans }} (ManyToMany, {{ "inversé par" | trans }} Holonymie).</li>
	<li>Attribute : {{ "Un NSynset a pour attribut un ASynset" | trans }} (ManyToMany, {{ "inversé par" | trans }} isAttributeOf).</li>
</ul>
<ul>
	<li>Antonymie : {{ "Un VSynset est antonyme d'un VSynset" | trans }} (ManyToMany, {{ "inversé par" | trans }} Antonymie).</li>
	<li>Hyponymie : {{ "Un VSynset est hyponyme d'un VSynset" | trans }} (ManyToMany, {{ "inversé par" | trans }} Troponymie).</li>
	<li>{{ "Conséquence logique (entailment)" | trans }} : {{ "Un VSynset est conséquence logique d'un VSynset" | trans }} (ManyToMany, {{ "inversé par" | trans }} Holonymie).</li>
	<li>Cause {{ "Un VSynset est la cause d'un VSynset" | trans }} (ManyToMany, {{ "inversé par" | trans }} Consequence).</li>
</ul>
<ul>
	<li>Antonymie : {{ "Un ASynset est antonyme d'un ASynset" | trans }} (ManyToMany, {{ "inversé par" | trans }} Antonymie).</li>
	<li>Similar : {{ "Un ASynset est similaire à un ASynset" | trans }} (ManyToMany, {{ "inversé par" | trans }} Similar).</li>
</ul>
<ul>
	<li>Antonymie : {{ "Un RSynset est antonyme d'un RSynset" | trans }} (ManyToMany, {{ "inversé par" | trans }} Antonymie).</li>
</ul>

<h3>{{ "Notre diagramme de classes" | trans }}</h3>
<img src="{{ asset('bundles/CartoDocumentationBundle/images/DCcomplet.png') }}" width="48%"/>

<h3>{{ "Nos fichiers de base de donnée en format texte" | trans }}</h3>
<p>
index.word
<pre>
coitus_interruptus n 00850689  
coke n 14709929 07944936 03070747  v 00499917  
colchicine n 03070969  
colchicum n 12475847  
colchicum_autumnale n 12476045  
colchis n 09038023  
cold a 01254201 01260684 01073210 02542870 01754740 01694033 01514641 01469690 01267081 00890609 00574324 00444844 00097668  n 14168983 05022301 05733621  
cold-blooded a 01267081 02543370  
cold-bloodedly r 00344222  
cold_frame n 03071522  
cold_front n 11481228  
cold_fusion n 13471065  
cold_gangrene n 14337088  
cold_medicine n 03071694  
</pre>
derivation
<pre>
wobble,wobbler 
wobbly,wobble 
woeful,woefulness 
womanise,woman 
womanise,womaniser 
womanish,womanishness 
womanize,woman 
womanize,womanizer 
womanly,woman 
womanly,womanliness 
wonder,wonderer 
wonder,wonderment 
wonderful,wonderfulness 
woo,wooer 
woo,wooing 
wooden,woodenness 
woodsy,woods 
woodsy,woodsiness 
</pre>
participle
<pre>
corbelled,corbel 
elapsed,elapse 
filled,fill 
fitted,fit 
forced,force 
gathered,gather 
graduated,calibrate 
hammered,hammer 
hand-held,hold 
handheld,hold 
held,hold 
hypophysectomised,hypophysectomise 
hypophysectomized,hypophysectomize 
malted,malt 
marched_upon,march 
mercerised,mercerize 
mercerized,mercerize 
mounded_over,mound_over 
operating,operate 
oxidised,oxidise 
oxidized,oxidize 
parked,park 
pasteurised,pasteurise 
</pre>
pertainym
<pre>
vegetative,vegetation 
vegetive,vegetation 
vehicular,vehicle 
veinal,vein 
velar,velum 
venous,vein 
ventilatory,ventilation 
ventricular,ventricle 
verbal,verb 
verbal,word 
vertebral,vertebra 
vertical,vertical_integration 
vesical,vesica 
vesicular,vesicle 
</pre>
builtfrom
<pre>
similarly,similar 
simply,simple(a) 
simultaneously,simultaneous 
sincerely,sincere 
single-mindedly,single-minded 
singly,single 
singularly,singular 
sinuously,sinuous 
sinusoidally,sinusoidal 
sixthly,sixth 
sketchily,sketchy 
skillfully,skillful 
skimpily,skimpy 
skittishly,skittish 
slackly,slack 
slanderously,slanderous 
slangily,slangy 
slantingly,slanting 
</pre>
mydata.noun
<pre>
11476690 @ 11438864 % 11476318 | (ecology) a community of organisms where there are several interrelated food chains  
11476879 @ 11545095 | moderate weather; suitable for outdoor activities  
11496631 @ 07322513 @ 11445694 | electrical discharges in the atmosphere  
11496830 @ 11494354 | light not due to incandescence; occurs at low temperatures  
11497019 @ 11496830 | luminescence produced by physiological processes (as in the firefly)  
02802334 @ 02809564 @ 02803056 % 03491080 | an implement used in baseball by the batter  
02802482 @ 02957776 % 02841963 | a cap with a bill  
02802601 @ 04473030 | a trading card with a picture of a baseball player and information about his playing record  
02802752 @ 08691133 ! 03865237 % 02801040 % 02813405 % 03797867 % 04211665 | the area of a baseball field that is enclosed by 3 bases and home plate  
03834880 @ 03749767 ! 04547162 ! 04547162 | computer storage that is not lost when the power is turned off  
03835103 @ 13898210 % 04248170 | a loop formed in a cord or rope by means of a slipknot; it binds tighter as the cord or rope is pulled  
03835397 @ 03594978 | loose-fitting single-breasted jacket  
</pre>
mydata.verb
<pre>
00015706 * 00014735 | sleep longer than intended  
00015799 @ 00014735 | sleep later than usual or customary; "On Sundays, I sleep in"  
00015939 @ 00014735 ! 00016176 ! 00016176 | sleep during winter; "Bears must eat a lot of food before they hibernate in their caves"  
00016176 @ 00014735 ! 00015939 ! 00015939 | sleep during summer; "certain animals estivate"  
00016373 @ 00014398 | be on the verge of sleeping; "The students were drowsing in the 8 AM class"  
00016566 @ 00016373 | be almost asleep; "The old man sat nodding by the fireplace"  
00016695 | let the head fall forward through drowsiness; "The old man was nodding in his chair"  
00016848 @ 00017275 | fall asleep fast, as when one is extremely tired; "after the long drive, we zonked out and slept for 10 hours"  
00017024 * 00014735 @ 00001740 | breathe noisily during one's sleep; "she complained that her husband snores"  
00366463 * 00366928 * 00367511 @ 00109468 | vaporize and then condense right back again  
00366673 @ 00443222 | change or cause to change directly from a solid into a vapor without first melting; "sublime iodine"; "some salts sublime when heated"  
00374419 * 00378386 @ 00078513 @ 00196708 | burn, sear, or freeze (tissue) using a hot iron or electric current or a caustic agent; "The surgeon cauterized the wart"  
00374806 * 00446124 @ 00145958 ! 00375692 | change to ice; "The water in the bowl froze"  
00375046 @ 00374806 | become frozen and covered with glaciers  
00375205 @ 00446422 | form into a solid mass; coalesce  
00375339 > 00375692 @ 00126072 | bring to, or maintain at, the boiling point; "boil this liquid until it evaporates"  
01819595 > 01781131 > 01780873 @ 01820398 ! 01821097 | give pleasure to or be pleasing to; "These colors please the senses"; "a pleasing sensation"  
01820021 @ 01820398 | give satisfaction; "The waiters around her aim to please"  
01820186 * 01819595 @ 01765558 | excite pleasurably or erotically; "A titillating story appeared in the usually conservative magazine"  
01820398 ! 01820612 | make happy or satisfied  
01820612 * 01802947 @ 01821097 ! 01820398 | fail to satisfy  
</pre>
mydata.adj
<pre>
00174481 ! 00174955 & 00174652 | carrying developing offspring within the body or being about to produce new life  
00174652 & 00174481 | in an advanced stage of pregnancy; "was big with child"; "was great with child"  
00174955 ! 00174481 | not pregnant  
00175025 ! 00175640 & 00175317 & 00175411 & 00175504 | heard or perceptible by the ear; "he spoke in an audible whisper"  
00175317 & 00175025 | making a clunking sound  
00175411 & 00175025 | relating to audible sound; "a sonic wave"  
00175504 & 00175025 | making or having a sound as specified; used as a combining form; "harsh-sounding"  
00175640 ! 00175025 & 00175980 & 00176140 & 00176244 & 00176384 & 00176561 & 00176696 | impossible to hear; imperceptible by the ear; "an inaudible conversation"  
00175980 & 00175640 | uttered without voice; "could hardly hear her breathed plea, `Help me'"; "voiceless whispers"  
00176140 & 00175640 | having frequencies below those of audible sound  
00176244 & 00175640 | having a frequency below or above the range of human audibility; "a silent dog whistle"  
00176384 & 00175640 | not made to sound; "the silent `h' at the beginning of `honor'"; "in French certain letters are often unsounded"  
00176561 & 00175640 | having frequencies above those of audible sound  
00176696 & 00175640 | not necessarily inaudible but not heard  
00176789 ! 00176980 ! 00177148 | (of speed) having or caused by speed approximately equal to that of sound in air at sea level; "a sonic boom"  
00176980 ! 00177148 ! 00176789 | (of speed) less than that of sound in a designated medium; "aircraft flying at subsonic speeds"  
00177148 ! 00176789 ! 00176980 | (of speed) greater than the speed of sound in a given medium (especially air); "a supersonic bomber flies so fast that it must release its bombs while the target is still over the horizon"  
</pre>
mydata.adv
<pre>
00014255 ! 00014476 ! 00014476 | in a manner affording benefit or advantage; "she married well"; "The children were settled advantageously in Seattle"  
00014476 ! 00014255 ! 00014255 | in a disadvantageous way; to someone's disadvantage; "the venture turned out badly for the investors"; "angry that the case was settled disadvantageously for them"  
00014747 | to a great extent or degree; "I'm afraid the film was well over budget"; "painting the room white made it seem considerably (or substantially) larger"; "the house has fallen considerably in value"; "the price went up substantially"  
00015078 ! 00015200 | with skill or in a pleasing manner; "she dances well"; "he writes well"  
00015200 ! 00015078 | without skill or in a displeasing manner; "she writes badly"; "I think he paints very badly"  
00015344 | with prudence or propriety; "You would do well to say nothing more"; "could not well refuse"  
00015469 | with great or especially intimate knowledge; "we knew them well"  
</pre>
</p>
{% endblock %}
