{% extends "CartoDocumentationBundle:Layouts:layoutWN.html.twig" %}
{% block contenu %}
<h1>{{ "Documentation" | trans }}</h1>
<h2>WordNet</h2>

<h3>{{ "Relations entre les" | trans }} nsynsets</h3>
<ul>
	<li>Antonymie (ManyToMany, {{ "inversé par" | trans }} Antonymie).</li>
	<li>Hyponymie (ManyToMany, {{ "inversé par" | trans }} Hypernymie).</li>
	<li>Méronymie (ManyToMany, {{ "inversé par" | trans }} Holonymie).</li>
	<li>NSynset hasAttribute ASynset (ManyToMany, {{ "inversé par" | trans }} isAttributeOf).</li>
</ul>


<img src="{{ asset('bundles/CartoDocumentationBundle/images/DO3.png') }}" width="48%"/>

<h3>{{ "Les fichiers de la base de données WordNet" | trans }}</h3>

<p>
{% trans with {'%file%': 'data.noun'} %}
Nous utiliserons le fichier %file%, que nous modifierons pour correspondre à nos besoins.
{% endtrans %}
</p>
<p>
{% trans with {'%file%': 'data.noun'} %}
Voici quelques exemples de lignes du fichier %file%
{% endtrans %} :
<pre>00021914 03 n 01 nutrient 1 002 @ 00020270 n 0000 ~ 07951744 n 0000 | any substance (such as a chemical element or inorganic compound) that can be taken in by a green plant and used in organic synthesis  

00023953 03 n 03 motivation 0 motive 0 need 0 011 @ 00023280 n 0000 + 00325093 a 0202 + 01653541 v 0201 + 02777100 a 0101 + 01653541 v 0101 ~ 09201624 n 0000 ~ 09201718 n 0000 ~ 09203156 n 0000 ~ 09203328 n 0000 ~ 09206590 n 0000 ~ 09207731 n 0000 | the psychological feature that arouses an organism to action toward a desired goal; the reason for the action; that which gives purpose and direction to behavior; "we did not understand his motivation"; "he acted with the best of motives"  

01328058 05 n 01 horn 1 008 @ 05477841 n 0000 #p 02414726 n 0000 #p 02419165 n 0000 #p 02405977 n 0000 + 02041999 a 0101 + 01447646 v 0101 ~ 01328299 n 0000 %s 05277400 n 0000 | one of the bony outgrowths on the heads of certain ungulates  

01328932 05 n 02 microorganism 0 micro-organism 0 020 @ 00004475 n 0000 ;c 00015568 n 0000 ;c 00017402 n 0000 -c 00045955 a 0000 -c 01527686 a 0000 -c 01529621 a 0000 ~ 01329392 n 0000 ~ 01331156 n 0000 ~ 01331343 n 0000 ~ 01344910 n 0000 ~ 01351171 n 0000 ~ 01387132 n 0000 ~ 01388648 n 0000 ~ 01389706 n 0000 ~ 01390092 n 0000 %p 01904773 n 0000 -c 05174087 n 0000 -c 09492415 n 0000 ~ 11550459 n 0000 -c 14133701 n 0000 | any organism of microscopic size  
</pre>
</p>
<p>
{{ "Voici tous les symboles que nous pouvons trouver dans ce fichier" | trans }}
<ul>
<li>!    Antonym : {{ "Antonymie" | trans }}</li><li>
@    Hypernym : {{ "Hypernymie" | trans }}</li><li>
@i    Instance Hypernym : {{ "Cas particulier d'hypernymie" | trans }}</li><li>
 ~    Hyponym : {{ "inverse de %relation%, inutile donc de le traiter deux fois" | trans({'%relation%': 'hypernyme'}) }}</li><li>
 ~i    Instance Hyponym : {{ "inverse de %relation%, inutile donc de le traiter deux fois" | trans({'%relation%': 'hypernyme'}) }}</li><li>
#m    Member holonym : {{ "inverse de %relation%, inutile donc de le traiter deux fois" | trans({'%relation%': 'meronyme'}) }}</li><li>
#s    Substance holonym : {{ "inverse de %relation%, inutile donc de le traiter deux fois" | trans({'%relation%': 'meronyme'}) }}</li><li>
#p    Part holonym : {{ "inverse de %relation%, inutile donc de le traiter deux fois" | trans({'%relation%': 'meronyme'}) }}</li><li>
%m    Member meronym : {{ "pour plus de clareté dans nos représentations, nous rassemblons les différents types de méronymes en un seul, que nous noterons simplement" | trans }} %</li><li>
%s    Substance meronym : {{ "" | trans }}</li><li>
%p    Part meronym : {{ "" | trans }}</li><li>
=    Attribute : {{ "" | trans }}</li><li>
+    Derivationally related form : {{ "déjà traité dans le cadre des relations entre les mots" | trans }}</li><li>
;c    Domain of synset - TOPIC : {{ "non traité dans le cadre du projet" | trans }}</li><li>
-c    Member of this domain - TOPIC : {{ "non traité dans le cadre du projet" | trans }}</li><li>
;r    Domain of synset - REGION : {{ "non traité dans le cadre du projet" | trans }}</li><li>
-r    Member of this domain - REGION : {{ "non traité dans le cadre du projet" | trans }}</li><li>
;u    Domain of synset - USAGE : {{ "non traité dans le cadre du projet" | trans }}</li><li>
-u    Member of this domain - USAGE : {{ "non traité dans le cadre du projet" | trans }} </li>
</ul>
</p>

<p>{{ "Organisation d'une ligne" | trans }}
<ul>
	<li>{{ "numero du synset (8 chiffres)" | trans }}<pre>00021914</pre></li>
	<li>{{ "numeros à moins de 8 chiffres pour les fichiers lexicographer (on ne les utilisera pas), la lettre n pour nom (inutile car dans data.noun c'est toujours n), les mots du synset (nous les enlèverons car la relation un mot appartient à un synset est déjà codée dans index.words)" | trans }}<pre>03 n 01 nutrient 1 002</pre></li>
	<li>{{ "des blocs de type : un symbole, un numero de synset, une lettre pour le type de synset (inutile pour nous car nous savons que ce sont toujours des nsynsets sauf hasAttribute pour laquelle c'est toujours un asynset) et un numéro à quatre chiffres servant à indiquer si la relation est entre des mots ou entre des synsets (inutile pour nous car nous avons déjà travaillé les relations entre les mots)" | trans }}<pre>@ 00020270 n 0000</pre> {{ "nous laisserons seulement le symbole et le numéro du synset, nous enlèverons tout le bloc pour les relations dont on a déjà traité l'inverse et celles que nous ne souhaitons pas traiter" | trans }}</li>
	<li>{{ "Le symbole | suivi de la définition du synset" | trans }}</li>
</ul>
</p>

<h3>{{ "Transformation du fichier %file%" | trans({'%file%': 'data.noun'}) }}</h3>
<p>{{ "Voici les quelques lignes données en exemple sous leur forme simplifiée" | trans }} :
<pre>
00021914 @ 00020270 | any substance (such as a chemical element or inorganic compound) that can be taken in by a green plant and used in organic synthesis  

00023953 @ 00023280 | the psychological feature that arouses an organism to action toward a desired goal; the reason for the action; that which gives purpose and direction to behavior; "we did not understand his motivation"; "he acted with the best of motives"  

01328058 @ 05477841 % 05277400 | one of the bony outgrowths on the heads of certain ungulates  

01328932 @ 00004475 % 01904773 | any organism of microscopic size  
</pre>
<p>{{ "Voici le script que nous avons utilisé pour simplifier le fichier %file%" | trans({'%file%': 'data.noun'}) }}
<pre>public function simplifierdatanounAction()
{
  $reponse = '';
  $data = fopen('../src/Carto/DocumentationBundle/Resources/dict/data.noun','r');
  $symbols = array('@','%p','%m','%s','!','=');
  
  //On parcourt le fichier data.noun ligne par ligne
  while ($ligne = fgets($data))
  {
    //On met d'abord la définition de côté
    $tab = explode('|',$ligne);
    $def = ' | ' . $tab[1];
    //Puis on sépare chaque élément et lorsqu'on rencontre un symbole qu'on souhaite traiter on l'ajoute
    $tab = explode(' ',$tab[0]);
    foreach($tab as $cle => $valeur)
    {
      if ($cle == 0) { $nouvligne = $valeur . ' '; }
      else if (in_array($valeur,$symbols)) { $nouvligne .= substr($valeur,0,1) . ' ' . $tab[$cle + 1]. ' '; }
    }
    $nouvligne .= $def . '&nbsp;<br/>';
    $reponse .= $nouvligne;
  }</pre>
<a href="{{ path('carto_documentation_etudewn_simplifierdatanoun') }}" target="blank">{{ "Voir le résultat du script (peut prendre quelques minutes)" | trans }}</a>
</p>
{% endblock %}
