{% extends "CartoDocumentationBundle:Layouts:layoutWN.html.twig" %}
{% block contenu %}
<h1>{{ "Documentation" | trans }}</h1>
<h2>WordNet</h2>

<h3>{{ "Relations entre les vsynsets" | trans }}</h3>
<ul>
	<li>Antonymie (ManyToMany, {{ "inversé par" | trans }} Antonymie).</li>
	<li>Hyponymie (ManyToMany, {{ "inversé par" | trans }} Troponymie).</li>
	<li>{{ "Conséquence logique (entailment)" | trans }} (ManyToMany, {{ "inversé par" | trans }} Holonymie).</li>
	<li>Cause (ManyToMany, {{ "inversé par" | trans }} Consequence).</li>
</ul>

<img src="{{ asset('bundles/CartoDocumentationBundle/images/DO4.png') }}" width="48%"/>

<h3>{{ "Les fichiers de la base de données WordNet" | trans }}</h3>

<p>
{% trans %}
Nous utiliserons le fichier data.verb, que nous modifierons pour correspondre à nos besoins.
{% endtrans %}
</p>
<p>
{% trans %}
Voici quelques exemples de lignes du fichier data.verb
{% endtrans %} :
<pre>
00008595 29 v 02 squint 0 squinch 0 003 @ 00034281 v 0000 + 10663166 n 0101 + 00880006 n 0101 01 + 02 00 | cross one's eyes as if in strabismus; "The children squinted so as to scare each other"  

00008792 29 v 01 squint 2 001 @ 00033592 v 0000 01 + 02 00 | partly close one's eyes, as when hit by direct blinding light; "The driver squinted as the sun hit his windshield"  

00008970 29 v 01 wince 0 002 @ 00034281 v 0000 + 06892106 n 0101 01 + 02 00 | make a face indicating disgust or dislike; "She winced when she heard his pompous speech"  

00009140 29 v 05 shed 0 molt 0 exuviate 0 moult 0 slough 0 011 @ 01516062 v 0000 + 09460959 n 0501 + 13576802 n 0502 + 01321151 n 0402 + 13538045 n 0404 + 13538045 n 0403 + 01321151 n 0201 + 13538045 n 0202 + 13538045 n 0201 + 13576802 n 0101 ~ 00009485 v 0000 01 + 01 00 | cast off hair, skin, horn, or feathers; "our dog sheds every Spring"  

00020442 29 v 01 keep_up 0 001 > 00020252 v 0000 02 + 09 00 + 10 00 | prevent from going to bed at night; "The anticipation of the trip kept the children up all night"; "I kept myself up all night studying for the exam"  

00036925 29 v 02 soap 0 lather 0 005 * 00036355 v 0000 @ 00035769 v 0000 + 09359461 n 0201 + 09462117 n 0203 + 04260547 n 0101 02 + 08 00 + 09 00 | rub soap all over, usually with the purpose of cleaning  
</pre>
</p>
<p>
{{ "Voici tous les symboles que nous pouvons trouver dans ce fichier" | trans }}
<ul>
<li>!    Antonym : {{ "Antonymie" | trans }}</li><li>
@    Hypernym : {{ "Hypernymie" | trans }}</li><li>
~    Hyponym : {{ "inverse de hypernyme, inutile donc de le traiter deux fois" | trans }}</li><li>
*    Entailment </li><li>
>    Cause </li><li>
^    Also see {{ "non traité dans le cadre du projet" | trans }}</li><li>
$    Verb Group {{ "non traité dans le cadre du projet" | trans }}</li><li>
+    Derivationally related form : {{ "déjà traité dans le cadre des relations entre les mots" | trans }}</li><li>
;c    Domain of synset - TOPIC : {{ "non traité dans le cadre du projet" | trans }}</li><li>
;r    Domain of synset - REGION : {{ "non traité dans le cadre du projet" | trans }}</li><li>
;u    Domain of synset - USAGE : {{ "non traité dans le cadre du projet" | trans }}</li><li>
</ul>
</p>

<p>{{ "Organisation d'une ligne" | trans }}
<ul>
	<li>{{ "numero du synset (8 chiffres)" | trans }}<pre>00021914</pre></li>
	<li>{{ "numeros à moins de 8 chiffres pour les fichiers lexicographer (on ne les utilisera pas), la lettre v pour verbe (inutile car dans data.verb c'est toujours v), les mots du synset (nous les enlèverons car la relation un mot appartient à un synset est déjà codée dans index.words)" | trans }}<pre>29 v 02 squint 0 squinch 0 003</pre></li>
	<li>{{ "des blocs de type : un symbole, un numero de synset, une lettre pour le type de synset (inutile pour nous car nous savons que ce sont toujours des nsynsets) et un numéro à quatre chiffres servant à indiquer si la relation est entre des mots ou entre des synsets (inutile pour nous car nous avons déjà travaillé les relations entre les mots)" | trans }}<pre>> 00020252 v 0000</pre> {{ "nous laisserons seulement le symbole et le numéro du synset, nous enlèverons tout le bloc pour les relations dont on a déjà traité l'inverse et celles que nous ne souhaitons pas traiter" | trans }}</li>
	<li>{{ "Le symbole | suivi de la définition du synset" | trans }}</li>
</ul>
</p>

<h3>{{ "Transformation du fichier data.verb" | trans }}</h3>
<p>{{ "Voici les quelques lignes données en exemple sous leur forme simplifiée" | trans }} :
<pre>
00008595 @ 00034281 | cross one's eyes as if in strabismus; "The children squinted so as to scare each other"  

00008792 @ 00033592 | partly close one's eyes, as when hit by direct blinding light; "The driver squinted as the sun hit his windshield"  

00008970 @ 00034281 | make a face indicating disgust or dislike; "She winced when she heard his pompous speech"  

00009140 @ 01516062 | cast off hair, skin, horn, or feathers; "our dog sheds every Spring"  

00020442 > 00020252 | prevent from going to bed at night; "The anticipation of the trip kept the children up all night"; "I kept myself up all night studying for the exam"  

00036925 * 00036355 @ 00035769 | rub soap all over, usually with the purpose of cleaning  
</pre>
<p>{{ "Voici le script que nous avons utilisé pour simplifier le fichier data.verb" | trans }}
<pre>public function simplifierdataverbAction()
{
  $reponse = '';
  $data = fopen('../src/Carto/DocumentationBundle/Resources/dict/data.verb','r');
  $symbols = array('@','!','*','>');
  
  //On parcourt le fichier data.verb ligne par ligne
  while ($ligne = fgets($data))
  {
    //On met d'abord la définition de côté
    $tab = explode('|',$ligne);
    $def = ' | ' . $tab[1];
    //Puis on sépare chaque élément et lorsqu'on rencontre un symbole qu'on souhaite traiter on l'ajoute
    $tab = explode(' ',$tab[0]);
    foreach($tab as $cle => $valeur)
    {
      if ($cle == 0) { $nouvligne = $valeur . ' '; }
      else if (in_array($valeur,$symbols)) { $nouvligne .= substr($valeur,0,1) . ' ' . $tab[$cle + 1]. ' '; }
    }
    $nouvligne .= $def . '&nbsp;<br/>';
    $reponse .= $nouvligne;
  }

  fclose($data);
  return new Response($reponse);
}</pre>
<a href="{{ path('carto_documentation_etudewn_simplifierdataverb') }}" target="blank">{{ "Voir le résultat du script (peut prendre quelques minutes)" | trans }}</a>
</p>
{% endblock %}
