{% extends "::base.html.twig" %}

{% block title %}{{ parent() }}{{'Admin - Identification' | trans}}{% endblock %}

{% block body %}{{ parent() }}
  	<div class="container">
  		<div class="login_admin">
			{# S'il y a une erreur, on l'affiche #}
			{% if error %}
			<div class="alert alert-error">{{ error.message }}</div>
			{% endif %}

			{# Le formulaire, avec URL de soumission vers la route « carto_user_admin_login_check » comme on l'a vu #}
			<form action="{{ path('carto_user_admin_login_check') }}" method="post">
				<label for="username">{{'Identifiant' | trans }} :</label>
				<input type="text" id="username" name="_username" value="{{ last_username }}" />

				<label for="password">{{'Mot de passe' | trans }} :</label>
				<input type="password" id="password" name="_password" />
				<br />
				<input type="submit" value="{{'Connexion' | trans }}" id="submit" />
			</form>
		</div>
 	</div>
{% endblock %}
