{% extends "CartoDocumentationBundle:Layouts:layout.html.twig" %}
{% block body %}
<h1>{{ "Documentation" | trans }}</h1>
<h2>{{ "La cartographie de données" | trans }}</h2>
<p>
{% trans %}
	A l’ère de l’information numérique, la quantité d’informations accessibles à chacun nécessite une gestion moderne. La cartographie sémantique de données est donc un secteur d’avenir. Nous souhaitons inscrire notre projet dans cette dynamique technologique, en espérant qu’il apportera une quelconque contribution à ce secteur de recherche.
{% endtrans %}
</p>
<p>
{% trans %}
	Nous nous concentrerons sur la mise en forme des données du catalogue WordNet. Il s'agit donc d'étudier le fonctionnement de la base de données WordNet et de proposer des solutions graphiques pour parcourir cette base de donnée. Puis nous étendrons le travail à d'autres jeux de données.
{% endtrans %}
</p>
<p>
{% trans %}
	Nous travaillerons en collaboration avec un autre groupe d'étudiants, qui travailleront également sur la cartographie de données.
{% endtrans %}
</p>
<p>
{% trans %}
	WordNet est un projet développé par l'université de Princeton, qui regroupe les mots de la langue anglaise et les relie entre eux par diverses relations. Grâce à WordNet, il est possible de faire un lien entre un dictionnaire de mots et la sémantique de la langue anglaise, à travers la notion de concepts et les relations entre ces concepts et les mots qui les composent.
{% endtrans %}
</p>

<h2>{{ "Liens utiles" | trans }} :</h2>
<ul>
	<li>WordNet
		<ul>
			<li><a href="http://wordnet.princeton.edu/">{{ "Présentation de WordNet" | trans }}</a></li>
			<li><a href="http://wordnet.princeton.edu/wordnet/documentation/">{{ "Documentation WordNet" | trans }}</a></li>
			<li><a href="http://wordnetweb.princeton.edu/perl/webwn">{{ "WordNet en ligne" | trans }}</a></li>
		</ul>
	</li>
	<li>Wikipedia
		<ul>
			<li><a href="http://www.lespetitescases.net">Les petites cases</a></li>
			<li><a href="http://code.google.com/p/tdwg-rdf/wiki/Beginners6SPARQL">Wiki google</a></li>
			<li><a href="http://www.cambridgesemantics.com/semantic-university/sparql-by-example">Cambridge University</a></li>
			<li><a href="http://www.w3.org/TR/rdf-sparql-query/">W3C - sparql query</a></li>
			<li><a href="http://fr.wikiversity.org/wiki/SPARQL_Protocol_and_RDF_Query_Language/Requ%C3%AAtes_de_d%C3%A9couverte">Wikiversity</a></li>
			<li><a href="http://jplu.developpez.com/tutoriels/web-semantique/nouveautes-sparql-1-1/#LIII">Developpez.com</a></li>
			<li><a href="http://www.w3.org/TR/2007/NOTE-rdf-sparql-json-res-20070618/">W3C - sparql json result</a></li>
			<li><a href="http://johnwright.me/blog/sparql-query-in-code-rest-php-and-json-tutorial/">Johnwright.me</a></li>
		</ul>
	</li>
	<li>Représentations - D3 - json
		<ul>
			<li><a href="http://ontology.univ-savoie.fr/tricot/">{{ "Thèse de Christophe Tricot" | trans }} </a></li>
			<li><a href="http://fr.slideshare.net/Rencontres_Web_de_donnees/christophe-tricot-et-raphal-velt">{{ "Revue sur les outils web de cartographie de données" | trans }}</a></li>
			<li><a href="http://d3js.org/">D3</a></li>
			<li><a href="http://jsonlint.com/">JsonLint</a></li>
		</ul>
	</li>
	<li>Technologies Web
		<ul>
			<li><a href="http://httpd.apache.org/">Apache</a></li>
			<li><a href="http://symfony.com/">Symfony</a></li>
			<li><a href="http://www.w3.org/">W3C</a></li>
			<li><a href="http://www.php.net/">PHP</a></li>
			<li><a href="http://phpunit.de/">PHPUnit</a></li>
			<li><a href="http://www.phpdoc.org/">PHPDoc</a></li>
			<li><a href="http://www.doctrine-project.org/">Doctrine</a></li>
			<li><a href="https://www.mysql.fr/">Mysql</a></li>
			<li><a href="http://fr.openclassrooms.com/">Openclassrooms</a></li>
			<li><a href="http://knpbundles.com/Gregwar/CaptchaBundle">CaptchaBundle</a></li>
		</ul>
	</li>
</ul>

<h2>{{ "Fonctionnement général du projet" | trans }}</h2>
<p>
{% trans %}
	Nous travaillerons autour d'un fichier standard au format json commun à tous. Ainsi chaque base de données et chaque représentation sera autonome du reste du projet. Chaque source de données devra fournir un fichier json correspondant au standard, et chaque visualisation devra prendre en charge un fichier json standard.
{% endtrans %}
</p>
<img src="{{ asset('bundles/CartoDocumentationBundle/images/jsoncommun.svg')}}" width=50% />
<br/>
<p>Json standard : </p>
<pre>
{
	noeuds : [
		{id:'...', nom:'...', param_optionnels},
		{id:'...', nom:'...', param_optionnels},	
		{id:'...', nom:'...', param_optionnels}
	],
	relations : ['rel1','rel2',...]
	graphe : [
		{
			noeud:id,
			rel1:[id1,id2,...],
			rel2:[id1,...]
		},
		{
			noeud:id,
			rel1:[id1,id2,...],
			rel2:[id1,...]
		}
	]
}
</pre>
{% endblock %}
