{% extends "CartoDonneesBundle:Layouts:layout.html.twig" %}
{% block body %}
<h1>Données</h1>
<p>Commencez par configurer parameters.yml avec vos paramètres de base de données.</p>
<p>Puis en mode console créez et initialisez la base : donnée : 
<pre>
php app/console doctrine:database:drop --force
php app/console doctrine:database:create
php app/console doctrine:schema:update --force
</pre>
</p>
<p>Ensuite pour enregistrer le contenu de wordnet dans votre base de données, cliquez une seule fois sur chaque lien (cela prend du temps)</p>
<ul>
	<li><a href="{{ path('carto_donnees_sauvegarder',{'nom': 'mydata.adv','type' : 'R', 'liminf' : 0, 'limsup' : 5000000})}}" target="blank">Adverbes</a></li>
	<li><a href="{{ path('carto_donnees_sauvegarder',{'nom': 'mydata.adj','type' : 'A', 'liminf' : 0, 'limsup' : 5000000})}}" target="blank">Adjectifs</a></li>
	<li><a href="{{ path('carto_donnees_sauvegarder',{'nom': 'mydata.verb','type' : 'V', 'liminf' : 0, 'limsup' : 5000000})}}" target="blank">Verbes</a></li>
	<li><a href="{{ path('carto_donnees_sauvegarder',{'nom': 'mydata.noun','type' : 'N', 'liminf' : 0, 'limsup' : 5000000})}}" target="blank">Noms 1</a></li>
	<li><a href="{{ path('carto_donnees_sauvegarder',{'nom': 'mydata.noun','type' : 'N', 'liminf' : 5000000, 'limsup' : 10000000})}}" target="blank">Noms 2</a></li>
	<li><a href="{{ path('carto_donnees_sauvegarder',{'nom': 'mydata.noun','type' : 'N', 'liminf' : 10000000, 'limsup' : 16000000})}}" target="blank">Noms 3</a></li>
	<li><a href="{{ path('carto_donnees_sauvegardermots',{'liminf' : 0, 'limsup' : 5000})}}" target="blank">Mots 1</a></li>
	<li><a href="{{ path('carto_donnees_sauvegardermots',{'liminf' : 5000, 'limsup' : 10000})}}" target="blank">Mots 2</a></li>
	<li><a href="{{ path('carto_donnees_sauvegardermots',{'liminf' : 10000, 'limsup' : 15000})}}" target="blank">Mots 3</a></li>
	<li><a href="{{ path('carto_donnees_sauvegardermots',{'liminf' : 15000, 'limsup' : 20000})}}" target="blank">Mots 4</a></li>
	<li><a href="{{ path('carto_donnees_sauvegardermots',{'liminf' : 20000, 'limsup' : 25000})}}" target="blank">Mots 6</a></li>
	<li><a href="{{ path('carto_donnees_sauvegardermots',{'liminf' : 25000, 'limsup' : 30000})}}" target="blank">Mots 7</a></li>
	<li><a href="{{ path('carto_donnees_sauvegardermots',{'liminf' : 30000, 'limsup' : 35000})}}" target="blank">Mots 8</a></li>
	<li><a href="{{ path('carto_donnees_sauvegardermots',{'liminf' : 35000, 'limsup' : 40000})}}" target="blank">Mots 9</a></li>
	<li><a href="{{ path('carto_donnees_sauvegardermots',{'liminf' : 40000, 'limsup' : 45000})}}" target="blank">Mots 10</a></li>
	<li><a href="{{ path('carto_donnees_sauvegardermots',{'liminf' : 45000, 'limsup' : 50000})}}" target="blank">Mots 11</a></li>
	<li><a href="{{ path('carto_donnees_sauvegardermots',{'liminf' : 50000, 'limsup' : 55000})}}" target="blank">Mots 12</a></li>
	<li><a href="{{ path('carto_donnees_sauvegardermots',{'liminf' : 55000, 'limsup' : 60000})}}" target="blank">Mots 13</a></li>
	<li><a href="{{ path('carto_donnees_sauvegardermots',{'liminf' : 60000, 'limsup' : 65000})}}" target="blank">Mots 14</a></li>
	<li><a href="{{ path('carto_donnees_sauvegardermots',{'liminf' : 65000, 'limsup' : 70000})}}" target="blank">Mots 15</a></li>
	<li><a href="{{ path('carto_donnees_sauvegardermots',{'liminf' : 70000, 'limsup' : 75000})}}" target="blank">Mots 16</a></li>
	<li><a href="{{ path('carto_donnees_sauvegardermots',{'liminf' : 75000, 'limsup' : 80000})}}" target="blank">Mots 17</a></li>
	<li><a href="{{ path('carto_donnees_sauvegardermots',{'liminf' : 80000, 'limsup' : 85000})}}" target="blank">Mots 18</a></li>
	<li><a href="{{ path('carto_donnees_sauvegardermots',{'liminf' : 85000, 'limsup' : 90000})}}" target="blank">Mots 19</a></li>
	<li><a href="{{ path('carto_donnees_sauvegardermots',{'liminf' : 90000, 'limsup' : 95000})}}" target="blank">Mots 20</a></li>
	<li><a href="{{ path('carto_donnees_sauvegardermots',{'liminf' : 95000, 'limsup' : 100000})}}" target="blank">Mots 21</a></li>
	<li><a href="{{ path('carto_donnees_sauvegardermots',{'liminf' : 100000, 'limsup' : 105000})}}" target="blank">Mots 22</a></li>
	<li><a href="{{ path('carto_donnees_sauvegardermots',{'liminf' : 105000, 'limsup' : 110000})}}" target="blank">Mots 23</a></li>
	<li><a href="{{ path('carto_donnees_sauvegardermots',{'liminf' : 110000, 'limsup' : 115000})}}" target="blank">Mots 24</a></li>
	<li><a href="{{ path('carto_donnees_sauvegardermots',{'liminf' : 115000, 'limsup' : 120000})}}" target="blank">Mots 25</a></li>
	<li><a href="{{ path('carto_donnees_sauvegardermots',{'liminf' : 120000, 'limsup' : 125000})}}" target="blank">Mots 26</a></li>
	<li><a href="{{ path('carto_donnees_sauvegardermots',{'liminf' : 125000, 'limsup' : 130000})}}" target="blank">Mots 27</a></li>
	<li><a href="{{ path('carto_donnees_sauvegardermots',{'liminf' : 130000, 'limsup' : 135000})}}" target="blank">Mots 28</a></li>
	<li><a href="{{ path('carto_donnees_sauvegardermots',{'liminf' : 135000, 'limsup' : 140000})}}" target="blank">Mots 29</a></li>
	<li><a href="{{ path('carto_donnees_sauvegardermots',{'liminf' : 140000, 'limsup' : 145000})}}" target="blank">Mots 30</a></li>
	<li><a href="{{ path('carto_donnees_sauvegardermots',{'liminf' : 145000, 'limsup' : 150000})}}" target="blank">Mots 31</a></li>
	<li><a href="{{ path('carto_donnees_derive',{'liminf' : 0, 'limsup' : 1000})}}" target="blank">Dérivation 1</a></li>
	<li><a href="{{ path('carto_donnees_derive',{'liminf' : 1000, 'limsup' : 2000})}}" target="blank">Dérivation 2</a></li>
	<li><a href="{{ path('carto_donnees_derive',{'liminf' : 2000, 'limsup' : 3000})}}" target="blank">Dérivation 3</a></li>
	<li><a href="{{ path('carto_donnees_derive',{'liminf' : 3000, 'limsup' : 4000})}}" target="blank">Dérivation 4</a></li>
	<li><a href="{{ path('carto_donnees_derive',{'liminf' : 4000, 'limsup' : 5000})}}" target="blank">Dérivation 5</a></li>
	<li><a href="{{ path('carto_donnees_derive',{'liminf' : 5000, 'limsup' : 6000})}}" target="blank">Dérivation 6</a></li>
	<li><a href="{{ path('carto_donnees_derive',{'liminf' : 6000, 'limsup' : 7000})}}" target="blank">Dérivation 7</a></li>
	<li><a href="{{ path('carto_donnees_derive',{'liminf' : 7000, 'limsup' : 8000})}}" target="blank">Dérivation 8</a></li>
	<li><a href="{{ path('carto_donnees_derive',{'liminf' : 8000, 'limsup' : 9000})}}" target="blank">Dérivation 9</a></li>
	<li><a href="{{ path('carto_donnees_derive',{'liminf' : 9000, 'limsup' : 10000})}}" target="blank">Dérivation 10</a></li>
	<li><a href="{{ path('carto_donnees_derive',{'liminf' : 10000, 'limsup' : 11000})}}" target="blank">Dérivation 11</a></li>
	<li><a href="{{ path('carto_donnees_derive',{'liminf' : 11000, 'limsup' : 12000})}}" target="blank">Dérivation 12</a></li>
	<li><a href="{{ path('carto_donnees_derive',{'liminf' : 12000, 'limsup' : 13000})}}" target="blank">Dérivation 13</a></li>
	<li><a href="{{ path('carto_donnees_derive',{'liminf' : 13000, 'limsup' : 14000})}}" target="blank">Dérivation 14</a></li>
	<li><a href="{{ path('carto_donnees_derive',{'liminf' : 14000, 'limsup' : 15000})}}" target="blank">Dérivation 15</a></li>
	<li><a href="{{ path('carto_donnees_pertainym',{'liminf' : 0, 'limsup' : 1000})}}" target="blank">Pertainyms 1</a></li>
	<li><a href="{{ path('carto_donnees_pertainym',{'liminf' : 1000, 'limsup' : 2000})}}" target="blank">Pertainyms 2</a></li>
	<li><a href="{{ path('carto_donnees_pertainym',{'liminf' : 2000, 'limsup' : 3000})}}" target="blank">Pertainyms 3</a></li>
	<li><a href="{{ path('carto_donnees_pertainym',{'liminf' : 3000, 'limsup' : 4000})}}" target="blank">Pertainyms 4</a></li>
	<li><a href="{{ path('carto_donnees_pertainym',{'liminf' : 4000, 'limsup' : 5000})}}" target="blank">Pertainyms 5</a></li>
	<li><a href="{{ path('carto_donnees_participle')}}" target="blank">Participles</a></li>
	<li><a href="{{ path('carto_donnees_builtfrom',{'liminf' : 0, 'limsup' : 1000})}}" target="blank">BuiltFrom 1</a></li>
	<li><a href="{{ path('carto_donnees_builtfrom',{'liminf' : 1000, 'limsup' : 2000})}}" target="blank">BuiltFrom 2</a></li>
	<li><a href="{{ path('carto_donnees_builtfrom',{'liminf' : 2000, 'limsup' : 3000})}}" target="blank">BuiltFrom 3</a></li>
	<li><a href="{{ path('carto_donnees_antonyms',{'nom': 'mydata.adv','type' : 'R', 'liminf' : 0, 'limsup' : 5000000})}}" target="blank">Antonymes Adverbes</a></li>
	<li><a href="{{ path('carto_donnees_antonyms',{'nom': 'mydata.adj','type' : 'A', 'liminf' : 0, 'limsup' : 5000000})}}" target="blank">Antonymes Adjectifs</a></li>
	<li><a href="{{ path('carto_donnees_antonyms',{'nom': 'mydata.verb','type' : 'V', 'liminf' : 0, 'limsup' : 5000000})}}" target="blank">Antonymes Verbes</a></li>
	<li><a href="{{ path('carto_donnees_antonyms',{'nom': 'mydata.noun','type' : 'N', 'liminf' : 0, 'limsup' : 10000})}}" target="blank">Antonymes Noms 1</a></li>
	<li><a href="{{ path('carto_donnees_antonyms',{'nom': 'mydata.noun','type' : 'N', 'liminf' : 10000, 'limsup' : 20000})}}" target="blank">Antonymes Noms 2</a></li>
	<li><a href="{{ path('carto_donnees_antonyms',{'nom': 'mydata.noun','type' : 'N', 'liminf' : 20000, 'limsup' : 30000})}}" target="blank">Antonymes Noms 3</a></li>
	<li><a href="{{ path('carto_donnees_antonyms',{'nom': 'mydata.noun','type' : 'N', 'liminf' : 30000, 'limsup' : 40000})}}" target="blank">Antonymes Noms 4</a></li>
	<li><a href="{{ path('carto_donnees_antonyms',{'nom': 'mydata.noun','type' : 'N', 'liminf' : 40000, 'limsup' : 50000})}}" target="blank">Antonymes Noms 5</a></li>
	<li><a href="{{ path('carto_donnees_antonyms',{'nom': 'mydata.noun','type' : 'N', 'liminf' : 50000, 'limsup' : 60000})}}" target="blank">Antonymes Noms 6</a></li>
	<li><a href="{{ path('carto_donnees_antonyms',{'nom': 'mydata.noun','type' : 'N', 'liminf' : 60000, 'limsup' : 70000})}}" target="blank">Antonymes Noms 7</a></li>
	<li><a href="{{ path('carto_donnees_antonyms',{'nom': 'mydata.noun','type' : 'N', 'liminf' : 70000, 'limsup' : 80000})}}" target="blank">Antonymes Noms 8</a></li>
	<li><a href="{{ path('carto_donnees_antonyms',{'nom': 'mydata.noun','type' : 'N', 'liminf' : 80000, 'limsup' : 90000})}}" target="blank">Antonymes Noms 9</a></li>
	<li><a href="{{ path('carto_donnees_antonyms',{'nom': 'mydata.noun','type' : 'N', 'liminf' : 90000, 'limsup' : 100000})}}" target="blank">Antonymes Noms 10</a></li>
	<li><a href="{{ path('carto_donnees_hypernyms',{'liminf' : 0, 'limsup' : 10000})}}" target="blank">Hypernyms Noms 1</a></li>
	<li><a href="{{ path('carto_donnees_hypernyms',{'liminf' : 10000, 'limsup' : 20000})}}" target="blank">Hypernyms Noms 2</a></li>
	<li><a href="{{ path('carto_donnees_hypernyms',{'liminf' : 20000, 'limsup' : 30000})}}" target="blank">Hypernyms Noms 3</a></li>
	<li><a href="{{ path('carto_donnees_hypernyms',{'liminf' : 30000, 'limsup' : 40000})}}" target="blank">Hypernyms Noms 4</a></li>
	<li><a href="{{ path('carto_donnees_hypernyms',{'liminf' : 40000, 'limsup' : 50000})}}" target="blank">Hypernyms Noms 5</a></li>
	<li><a href="{{ path('carto_donnees_hypernyms',{'liminf' : 50000, 'limsup' : 60000})}}" target="blank">Hypernyms Noms 6</a></li>
	<li><a href="{{ path('carto_donnees_hypernyms',{'liminf' : 60000, 'limsup' : 70000})}}" target="blank">Hypernyms Noms 7</a></li>
	<li><a href="{{ path('carto_donnees_hypernyms',{'liminf' : 70000, 'limsup' : 80000})}}" target="blank">Hypernyms Noms 8</a></li>
	<li><a href="{{ path('carto_donnees_hypernyms',{'liminf' : 80000, 'limsup' : 90000})}}" target="blank">Hypernyms Noms 9</a></li>

	<li><a href="{{ path('carto_donnees_meronyms',{'liminf' : 0, 'limsup' : 10000})}}" target="blank">Meronyms Noms 1</a></li>
	<li><a href="{{ path('carto_donnees_meronyms',{'liminf' : 10000, 'limsup' : 20000})}}" target="blank">Meronyms Noms 2</a></li>
	<li><a href="{{ path('carto_donnees_meronyms',{'liminf' : 20000, 'limsup' : 30000})}}" target="blank">Meronyms Noms 3</a></li>
	<li><a href="{{ path('carto_donnees_meronyms',{'liminf' : 30000, 'limsup' : 40000})}}" target="blank">Meronyms Noms 4</a></li>
	<li><a href="{{ path('carto_donnees_meronyms',{'liminf' : 40000, 'limsup' : 50000})}}" target="blank">Meronyms Noms 5</a></li>
	<li><a href="{{ path('carto_donnees_meronyms',{'liminf' : 50000, 'limsup' : 60000})}}" target="blank">Meronyms Noms 6</a></li>
	<li><a href="{{ path('carto_donnees_meronyms',{'liminf' : 60000, 'limsup' : 70000})}}" target="blank">Meronyms Noms 7</a></li>
	<li><a href="{{ path('carto_donnees_meronyms',{'liminf' : 70000, 'limsup' : 80000})}}" target="blank">Meronyms Noms 8</a></li>
	<li><a href="{{ path('carto_donnees_meronyms',{'liminf' : 80000, 'limsup' : 90000})}}" target="blank">Meronyms Noms 9</a></li>

	<li><a href="{{ path('carto_donnees_attributes',{'liminf' : 0, 'limsup' : 10000})}}" target="blank">Attributes Noms 1</a></li>
	<li><a href="{{ path('carto_donnees_attributes',{'liminf' : 10000, 'limsup' : 20000})}}" target="blank">Attributes Noms 2</a></li>
	<li><a href="{{ path('carto_donnees_attributes',{'liminf' : 20000, 'limsup' : 30000})}}" target="blank">Attributes Noms 3</a></li>
	<li><a href="{{ path('carto_donnees_attributes',{'liminf' : 30000, 'limsup' : 40000})}}" target="blank">Attributes Noms 4</a></li>
	<li><a href="{{ path('carto_donnees_attributes',{'liminf' : 40000, 'limsup' : 50000})}}" target="blank">Attributes Noms 5</a></li>
	<li><a href="{{ path('carto_donnees_attributes',{'liminf' : 50000, 'limsup' : 60000})}}" target="blank">Attributes Noms 6</a></li>
	<li><a href="{{ path('carto_donnees_attributes',{'liminf' : 60000, 'limsup' : 70000})}}" target="blank">Attributes Noms 7</a></li>
	<li><a href="{{ path('carto_donnees_attributes',{'liminf' : 70000, 'limsup' : 80000})}}" target="blank">Attributes Noms 8</a></li>
	<li><a href="{{ path('carto_donnees_attributes',{'liminf' : 80000, 'limsup' : 90000})}}" target="blank">Attributes Noms 9</a></li>
	<li><a href="{{ path('carto_donnees_attributes',{'liminf' : 90000, 'limsup' : 100000})}}" target="blank">Attributes Noms 10</a></li>
	<li><a href="{{ path('carto_donnees_troponyms')}}" target="blank">Troponyms</a></li>
	<li><a href="{{ path('carto_donnees_entails')}}" target="blank">Entails</a></li>
	<li><a href="{{ path('carto_donnees_causes')}}" target="blank">Causes</a></li>
	<li><a href="{{ path('carto_donnees_similars')}}" target="blank">Similars</a></li>
</ul>
{% endblock %}
