{% extends "CartoAccueilBundle:Layouts:layout.html.twig" %}
{% block body %}
<h1>{{"Bienvenue sur notre application web de cartographie" | trans}}</h1>
<p>{{"Description site" | trans}}</p>

<h2>Documentation</h2>
<p>{{"Description documentation" | trans}}</p>

<h2>{{ "Représentations"|trans }}</h2>
<p>{{"Description representation" | trans}}</p>

<h2>{{ "A propos"|trans }}</h2>
<p>{{"Description a propos" | trans}}</p>

<h2>{{ "Livre"|trans }}</h2>
<p>{{"Description livre" | trans}}</p>
{% endblock %}
