{% extends "CartoAccueilBundle:Layouts:layout.html.twig" %}
{% block body %}
<h1>{{"Bienvenue sur notre application web de cartographie" | trans}}</h1>
<p>Ce site web vous offre différentes visualations graphiques pour des données provenant de WordNet et DpPedia. C'est un projet universitaire réalisé par les étudiants de L3 STIC INFO de l'Université de Savoie, sous la direction de Christophe Roche.</p>

<h2>Documentation</h2>
<p>Dans la section documentation, vous trouverez des articles que nous avons écrit expliquant les outils et technologies que nous avons utilisé et la méthode que nous avons utilisé pour les exploiter.</p>

<h2>Représentations</h2>
<p>Dans la section représentations, vous pouvez effectuer des recherches sur nos sources de données (WordNet et DpPedia) et visualiser le résultat graphiquement.</p>

<h2>{{ "A propos"|trans }}</h2>
<p>Dans la section {{ "A propos"|trans }}, vous trouverez comment nous contacter et la liste des liens qui nous ont été utiles pour ce projet.</p>

<h2>{{ "livre"|trans }}</h2>
<p>Pour toute question, remarque ou commentaire, n'hésitez pas à nous laisser un petit mot dans le {{ "livre"|trans }}.</p>
{% endblock %}
