{% extends "::base.html.twig" %}

{% block stylesheets %}{{ parent() }}
{% stylesheets'bundles/CartoRepresentationsBundle/css/slider.css' %}
	<link href="{{ asset_url }}" type="text/css" rel="stylesheet" />
{% endstylesheets %}
{% endblock %}

{% block javascripts %}{{ parent() }}
{% javascripts 'bundles/CartoRepresentationsBundle/js/global/*' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}
{% endblock %}

{% block body %}
	<h1>Représentations</h1>

	<script>
		$(document).ready(function($) {
			var options = {
				$AutoPlay: true,
				$DragOrientation: 3,
				$ArrowNavigatorOptions: {
					$Class: $JssorArrowNavigator$,
					$ChanceToShow: 2,
					$AutoCenter: 0,
					$Steps: 1
				},
				$BulletNavigatorOptions: {
					$Class: $JssorBulletNavigator$,
					$ChanceToShow: 2,
					$ActionMode: 1,
					$AutoCenter: 0,
					$Steps: 1,
					$Lanes: 1,
					$SpacingX: 0,
					$SpacingY: 0,
					$Orientation: 1
				}
			};
			var jssor_slider1 = new $JssorSlider$('slider_container', options);
		});
	</script>
	
	<div id="slider_container" style="position: relative; top: 0px; left: 0px; width: 1024px; height: 491px; margin: 0 auto;">
			<div u="slides" style="cursor: auto; position: absolute; overflow: hidden; left: 0px; top: 0px; width: 1024px; height: 491px; border: solid 3px gray;">
				<div><img u="image" src="{{ asset('bundles/CartoRepresentationsBundle/images/nodeLinkTree.png') }}" alt="Node Link Tree" /></div>
				<div><img u="image" src="{{ asset('bundles/CartoRepresentationsBundle/images/collapsibleTree.png') }}" alt="Collapsible Tree" /></div>
				<div><img u="image" src="{{ asset('bundles/CartoRepresentationsBundle/images/forceDirectedGraph.png') }}" alt="Force Directed Graph" /></div>
				<div><img u="image" src="{{ asset('bundles/CartoRepresentationsBundle/images/bubbleTree.png') }}" alt="Bubble Tree" /></div>
			</div>
			<!-- Arrow Left -->
			<span u="arrowleft" class="jssora03l" style="position: absolute; width: 55px; height: 55px; top: 198px; left: 9px;">
			</span>
			<!-- Arrow Right -->
			<span u="arrowright" class="jssora03r" style="position: absolute; width: 55px; height: 55px; top: 198px; left: 961px;">
			</span>
			<!-- bullet navigator container -->
			<div u="navigator" class="jssorb03" style="position: absolute; bottom: 4px; left: 915px;">
				<!-- bullet navigator item prototype -->
				<div u="prototype" style="position: absolute; width: 21px; height: 21px; text-align:center; line-height:21px; color:white; font-size:12px;"><NumberTemplate></NumberTemplate></div>
			</div>
			<!-- Bullet Navigator Skin End -->
		</div>
	</div>
	
	<br/><h1>Utilisation des vues :</h1><br/>
<img style="border:solid 1px grey;"src="{{ asset('bundles/CartoRepresentationsBundle/images/ManuelUtilisateur.png') }}"></img>
{% endblock %}
