{% extends "CartoRepresentationsBundle:Layouts:layout.html.twig" %}
{% block title %}{{"Représentation 2"}}{% endblock %}

{% block stylesheets %}{{ parent() }}
{% stylesheets 'bundles/CartoRepresentationsBundle/css/collapsibleTree.css' %}
	<link href="{{ asset_url }}" type="text/css" rel="stylesheet" />
{% endstylesheets %}
{% endblock %}

{% block javascripts %}
{% javascripts 'bundles/CartoRepresentationsBundle/js/*' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}
{% endblock %}

{% block menuSuperieur %}{{ parent() }}
{% endblock %}

{% block script %}
	var representation = new D3_TreeRepresentation();
	var fichier = "{{ asset('bundles/CartoRepresentationsBundle/json/exemple.json') }}";
	function disabled_button_and_show(){
		document.getElementById('show_rep').disabled=true;
		representation.show(fichier); 
	}
{% endblock %}
{% block contenu %}{{ parent() }}
	<div id = "wikipedia">
	</div>
	
	<input type='button' value='Representation wordnet' id='show_rep' onclick='disabled_button_and_show()'>
{% endblock %}
